/*	
	Justin's Css Test Page
*/

/*Basic Inheritance*/
.header_title ,.body ,.bio ,.YTbio ,.YTtitle,.navbar a ,.news{
	text-align: center;
	font-family: Arial;
	font-size: 100%;
	color: White;
}

/* Title on First */
.header_title {
	position: absolute;
	font-size: 36px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style: solid;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
    border-width: 3px 3px 3px 3px;
	text-shadow: 0px 0px 50px #444; /*Temp till we get proper images and a colour pallete*/
}
.back {
    background: linear-gradient(to bottom, rgb(110, 124, 100) 7%, rgb(37, 38, 40) 100%);
}
.back_photos {
    background: linear-gradient(to bottom, rgb(255, 250, 250) 7%, rgb(255, 255, 255) 100%);
}
/* Who We Are Section */

.contributor {
	float: left;
	margin: 10px 10px 10px 10px;
	postion:relative;	
}
.bio {
	float: right;
	margin: 10px 10px 10px 10px;
	font-family: Arial;
}
.contributor_img {
	alt:"Age is more than a number"; 
	width: 200px;
	height:200px;
	border-radius: 100px;
	float: left;
	/* Top Right Bottom Left*/
	margin: 10px 10px 10px 100px;	
}
.contributor_img:hover{
	opacity: .5;
	border: 2px solid black;
} 

/* Paralax Code */

/*Image Paralaxing*/
[class*="i-"]{
    
	/* Set a specific height */
    max-width: 100%;
	min-height: 110%;
	width: 100%; 
	height: 110%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Image Sourcing*/
.i-1{
	background-image: url(./../images/old_combine.jpg);
}
.i-2{
	background-image: url(./../images/i2.JPG);
    max-height: 1000%;
	min-height: 110%;
	max-width:50%;
	height: 110%;
	width: auto; 
	background-position: left;
	background-size: contain;
}
.i-3{
	background-image: url(./../images/i3.JPG);
}
.i-4{
	background-image: url(./../images/i4.JPG);
}
.i-5{
	background-image: url(./../images/i5.JPG);
}
.i-6{
	background-image: url(./../images/i6.JPG);
}
.i-7{
	background-image: url(./../images/i7.JPG);
}
/* The photo descriptions*/
.i1_des ,.i2_des ,.i3_des ,.i4_des ,.i5_des ,.i6_des ,.i7_des{
	
	margin: 15%;
	margin-top: 100px;
    margin-bottom: 100px;	
	font-size: 36px;
	top: 25%;
	left: 50%;
	border-style: solid;
    border-width: 2px 2px 2px 2px;
	text-align: center;
	font-family: Arial;
	
}
.i2_des {
	margin: 25%;
	position: relative;
	top: 0%;
	left: 100%;
	float:right;
}
/* The Navigation Bar */

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* YouTube Section */

/* YouTube Box(containing all sections)*/
.YTcluster {
	postion:relative;
	min-width: 200px;
	margin: auto;
}
/* Embedded YouTube Player*/
.embeddedYT { 
	min-width: 200px;
	width: 90%; 
	height: 70%;
	frameborder: 0;
} 
/* YouTube Channel Descrption and Title */
.YTbio {
	float:left;
	min-width: 200px;
	width:33%;
	height:514px;
	margin: auto;
}
/* YouTube Section resizing for small displays */
@media (max-width: 800px){
	.YTcluster {
		width: 95%;
	}
	.embeddedYT { 
		width: 100%; 
	} 
	.YTbio {
		min-width: 200px;
		width:100%;
	}
}
