/*
	Justin's Css Test Page
*/

.body {
	color: Black;
	background-color: White;
	text-align: center;
	font-family: Arial;
}
.header_image {
	src:./images/old_combine.jpg;
	alt:"Age is more than a number"; 
	max-width: 100%;
	height:auto;
}
.back {
    background: linear-gradient(to bottom, #ffffff 7%, #ff6600 100%);
}